<!-- 

  <div *ngIf="product.title" class="card" style="width: 9rem;">
    <img *ngIf="product.imageUrl" class="card-img-top" [src]="product.imageUrl" alt="{{ product.title }}">
  <div class="card-body">
  <h4 class="card-title">{{ product.title }}</h4>
  <p class="card-text">{{ product.price | currency:'USD':true }}</p>
  </div>
  <div *ngIf="showActions && shoppingCart" class="card-footer">
  <button 
    *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity"
    (click)="addToCart()"
    class="btn btn-secondary btn-block">Add to Cart</button>
  <ng-template #updateQuantity>
    <product-quantity [product]="product" [shopping-cart]="shoppingCart">
    </product-quantity>
  </ng-template>
  </div>
  </div>

   -->

  <div class="row" *ngIf="product.title">    
    <div class="col">        
        <div class="trend_content tab-content">
            <div id="arrival" role="tabpanel" class="active trend_item">
                <div class="row">
                    <div class="trend_item_slider">


                        <div class="col-12">  
                            <div class="single_trend">
                                <div class="single_trend_item">
                                    <div class="single_trend_img">
                                        <a href="#">
                                            <img class="primary_image" src="assets/img/trend/eyewear/eye_1.jpg" alt="">
                                            <img class="secondary_image" src="assets/img/trend/eyewear/eye_4.jpg" alt="">
                                            <span class="blue">-15%</span>
                                        </a>
                                    </div>
                                    <div class="hover_eye">
                                        <a class="modal-view" href="#" data-toggle="modal" data-target="#productModal"><i class="fa fa-eye"></i></a>
                                    </div>
                                    <div class="single_trend_label text-center">    
                                        <a href="#"><h3>{{ product.title }}</h3></a>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <h4>{{product.price | currency:'USD':true }} <del>$260.00</del></h4>
                                    </div>
                                    <div class="wish_icon_hover text-center">
                                        <ul>
                                            <li class="active"><a href="#" data-toggle="tooltip" title="Refresh"><i class="fa fa-exchange"></i></a></li>
                                            <li class="add_to_cart"><a href="#" data-toggle="tooltip" title="Add To Cart!"
                                              (click)="addToCart()">ADD TO CART</a></li>
                                            

                                            <li><a href="#" data-toggle="tooltip" title="Like it!"><i class="fa fa-heart-o"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                    </div>    
                </div>
            </div>
        </div> 
    </div>    
</div>

    




<!-- <mdb-card *ngIf="product.title">
  <mdb-card-img *ngIf="product.imageUrl" [src]="product.imageUrl" alt="{{ product.title }}"></mdb-card-img>
  <mdb-card-body>
    <mdb-card-title>
      <h4>{{ product.title }}</h4>
    </mdb-card-title>
    <p> {{ product.price | currency:'USD':true }}</p>
   
  </mdb-card-body>
  <mdb-card-footer *ngIf="showActions && shoppingCart" >
    <button 
    *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity"
    (click)="addToCart()"
    class="btn btn-secondary btn-block">Add to Cart</button>
  <ng-template #updateQuantity>
    <product-quantity [product]="product" [shopping-cart]="shoppingCart">
    </product-quantity>
  </ng-template>
  </mdb-card-footer>
</mdb-card>   -->