<bs-navbar></bs-navbar>
<div class="container">
    <h1>Request</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Requester</th>
          <th>Book</th>
          <th>Writter</th>
          <th>Publication</th>
          <th>Category</th>
          <th>Condition</th>
          <th>Asked Price</th>
          <th>Quantity</th>
          <th>Date</th>
          <th>Status</th>
         <th>Action</th>
        </tr>
      </thead> 
      <tbody>
        <tr *ngFor="let request of cellRequest$ | async">
          <td>{{ request.fullname}}</td>  
          <td>{{ request.cellBookedInfo.title }}</td>
          <td>{{ request.cellBookedInfo.writter }}</td>
          <td>{{ request.cellBookedInfo.publication }}</td>
          <td>{{ request.cellBookedInfo.category }}</td>
          <td>{{ request.cellBookedInfo.condition }}</td>
          <td>{{ request.cellBookedInfo.price }}</td>
          <td>{{ request.cellBookedInfo.quantity }}</td>
          <td>{{ request.datePlaced | date}}</td>    
          <td>{{ request.status}}</td>  
          <td> <a [routerLink]="" (click)="BuyBook(request,request.$key)" >Buy</a>||
            <a [routerLink]="" (click)="cancelRequest(request,request.$key)" >Cancel</a></td> 

        </tr>
      </tbody> 
    </table>
    </div>
    <app-footer></app-footer>