<bs-navbar></bs-navbar>
<div class="container">

<div class="row align-items-center justify-content-center">
  <mat-card class="mat-card">
    <h2 style="text-align: center">Create Dishari Account</h2>

    <form [formGroup]="registrationForm" (ngSubmit)="name.valid
    &&email.valid
    &&password.valid
    &&confirmPassword.valid
    &&date.valid&&gender.valid 
    && signUp(registrationForm.value)" class="example-form" style="    padding-top: 12px;" >
     
      <div class="container"> 
        <mat-form-field>
          <input 
          matInput 
          placeholder="Enter your Name"
            formControlName="name"            
            autofocus
             required>
          <mat-error *ngIf="name.touched&&name.invalid">Name is <strong>required</strong>.</mat-error>
        </mat-form-field>       
      </div>

      <div class="container"> 
        <mat-form-field>
          <input matInput 
          placeholder="Enter your Email"
          formControlName="email"
             required>
             <mat-error *ngIf="(email.dirty || email.touched)"> 
          <mat-error *ngIf="email.errors?.required">Email is <strong>requird</strong>.</mat-error>
          <mat-error *ngIf="email.invalid">Invalid email.</mat-error>
        </mat-error>
        </mat-form-field>       
      </div>


      
          <div class="modal-body row">
              <div class="col-md-6">
                  <mat-form-field>
                      <input 
                      id="password"
                       matInput 
                       placeholder="Enter your Password"
                       
                       formControlName="password"
                       [formGroup]="registrationForm"
                        required           
                        minlength="6"
                        maxlength="15"
                         [type]="hide ? 'password' : 'text'"
                         >
                         <mat-error *ngIf="password.invalid &&(password.dirty || password.touched)"> 
                          <mat-error *ngIf="password.errors?.required">password is <strong>required</strong>.</mat-error>  
                          <mat-error *ngIf="password.errors?.minlength">Password should be minimum 6 charecter.</mat-error>
                          <mat-error *ngIf="password.errors.canNotContainSpace">Password can not contain space.</mat-error>  
                         </mat-error>  
            
                        
                    </mat-form-field>
              </div>
              <div class="col-md-6">
                  <mat-form-field>
                      <input
                       id="confirmPassword"
                        matInput
                         placeholder="Enter your Confirm Password"
                        
                         formControlName="confirmPassword"
                          [formGroup]="registrationForm"                      
                        equalValidatorApp="password"
                        required             
                        
                         [type]="hide ? 'password' : 'text'"
                         >
                      <!-- <mat-icon
                     class="pointer"
                     class="glyphicon glyphicon-eye-open"
                       matSuffix 
                       (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}
                      </mat-icon> -->
                      
                      <mat-error *ngIf="confirmPassword.invalid &&(confirmPassword.dirty || confirmPassword.touched)"> 
                        <mat-error *ngIf="confirmPassword.errors?.required">Confirm Password is <strong>required</strong>.</mat-error>      
                        <mat-error *ngIf="confirmPassword.errors.canNotContainSpace">ConfirmPassword can not contain space.</mat-error>  
                        <mat-error *ngIf="confirmPassword.errors?.notEqual">Those password didn't match.</mat-error>  
                       </mat-error>  
                     
                    </mat-form-field>
              </div>
            </div>
  
            <!-- <div class="container">

                <mat-form-field>
                    <input
                  
                     matInput 

                     [matDatepicker]="picker"
                     [formControl]="date"
                      placeholder="Enter Date of Birth"
                      required
                
                      >
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>

                    <mat-error *ngIf="(date.dirty || date.touched)">
                        <mat-error *ngIf="date.errors?.required">date is <strong>requird</strong>.</mat-error>
                        <mat-error *ngIf="date.invalid">invalid date.</mat-error>
                      </mat-error>
                  </mat-form-field>
                  

            </div> -->
     

      <div class="container">

        <mat-form-field>
          <input 
          id="mobileNumber"
           matInput
           placeholder="Enter your Mobile Number"
            formControlName="mobileNumber" 
            >
        </mat-form-field>
          <button
          mat-button type="submit" 
        class="pointer"
          [disabled]="!name.valid||!email.valid
          ||!password.valid||!confirmPassword.valid"
          >submit
        </button>
    
      </div>

     
      <!-- <div class="container">
        <mat-radio-group formControlName="gender">
          <mat-error *ngIf="(date.dirty || date.touched)&&gender.invalid">Gender is <strong>requird</strong>.</mat-error>
          <mat-radio-button  value="female"> Female </mat-radio-button>
          <mat-radio-button value="male"> male </mat-radio-button>
          <mat-radio-button value="others"> others </mat-radio-button>
         
        </mat-radio-group>
        <button
         mat-button type="submit" 
        class="pointer"
          [disabled]="!name.valid||!email.valid
          ||!password.valid||!confirmPassword.valid||
          !date.valid||!gender.valid"
          >create
        </button>
      </div> -->

    </form>

  </mat-card>

</div>

</div>
