<bs-navbar></bs-navbar>
<div class="container">
 
  <div class="row">
    <div  class="col-md-6" >
        <form  *ngIf="address.length==0"    #f="ngForm" (ngSubmit)="saveAddress(f.value)">
            <div><h4>Please Enter Your Address</h4>  </div>
            <div class="form-group" >
              <label for="address">Address</label>
              <input #address="ngModel" [(ngModel)]="addr.address" name="address" id="address" type="text" class="form-control" required>
              <div class="alert alert-danger" *ngIf="address.touched && address.invalid">
                Address is required.
              </div>
            </div>        
            <div class="form-group">
              <label for="mobile">Mobile</label>
              <input #mobile="ngModel" [(ngModel)]="addr.mobile" name="mobile" id="mobile" type="text" class="form-control" required>
              <div class="alert alert-danger" *ngIf="mobile.touched && mobile.invalid">
                Mobile is required.
              </div>
            </div>    
    
            <button class="btn btn-primary">Save</button>
           
        </form>  
   
        <div *ngIf="willUpdate!=1">
            <form *ngIf="address.length==1" @fade #f="ngForm" (ngSubmit)="save(f.value)">
                <div>
                  <h4>Please Enter Your Book Information</h4>
                </div>
                <div class="form-group">
                  <label for="title">Title</label>
                  <input #title="ngModel" [(ngModel)]="product.title" name="title" id="title" type="text" class="form-control" required>
                  <div class="alert alert-danger" *ngIf="title.touched && title.invalid" >
                    Title is required.
                  </div>
                </div>    
                  
                <div class="form-group">
                  <label for="writter">Writter</label>
                  <input #writter="ngModel" [(ngModel)]="product.writter" name="writter" id="writter" type="text" class="form-control" required>
                  <div class="alert alert-danger" *ngIf="writter.touched && writter.invalid" >
                    Writter is required.
                  </div>
                </div>    
      
                <div class="form-group">
                  <label for="publication">Publication</label>
                  <input #publication="ngModel" [(ngModel)]="product.publication" name="publication" id="publication" type="text" class="form-control" required>
                  <div class="alert alert-danger" *ngIf="publication.touched && publication.invalid">
                    Publication is required.
                  </div>
                </div> 
                <div class="form-group">
                  <label for="price"> Asking Price</label>
                  <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input #price="ngModel" [(ngModel)]="product.price" name="price" id="price" type="number" class="form-control" required [min]="0">
                  </div>
                  <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
                    <div *ngIf="price.errors.required">Price is required.</div>
                    <div *ngIf="price.errors.min">Price should be 0 or higher.</div>
                  </div>
                </div>        
                <div class="form-group">
                  <label for="category">Category</label>
                  <select #category="ngModel" [(ngModel)]="product.category" name="category" id="category" class="form-control" required>
                    <option value=""></option>
                    <option *ngFor="let c of categories$ | async" [value]="c.$key">
                      {{ c.name }}
                    </option>
                  </select>
                  <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
                    Category is required.
                  </div>
                </div>    
                
                <!-- <div class="form-group">
                  <label for="subCategory">Sub Category</label>
                  <select #subCategory="ngModel" [(ngModel)]="product.subCategory" name="subCategory" id="subCategory" class="form-control" required>
                    <option value=""></option>
                    <option *ngFor="let sc of subCategory$ | async" [value]="sc.$key">
                      {{ sc.name }}
                    </option>
                  </select>
                  <div class="alert alert-danger" *ngIf="subCategory.touched && subCategory.invalid">
                  Sub Category is required.
                  </div>
                </div>  
                 -->
                <!-- <div class="form-group">
                  <label for="imageUrl">Image URL for Front Cover Page</label>
                  <input #imageUrl="ngModel" [(ngModel)]="product.imageUrl" name="imageUrl" id="imageUrl" type="text" class="form-control" required url>
                  <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
                    <div *ngIf="imageUrl.errors.required">Image URL is required.</div>
                    <div *ngIf="imageUrl.errors.url">Please enter a valid URL.</div>
                  </div>
                </div>       -->
                <div class="form-group">
                  <label for="quantity">Quantity</label>
                  <div class="input-group">
                    
                    <input #quantity="ngModel" [(ngModel)]="product.quantity" name="quantity" id="quantity" type="number" class="form-control" required [min]="0">
                  </div>
                  <div class="alert alert-danger" *ngIf="quantity.touched && quantity.invalid">
                    <div *ngIf="quantity.errors.required">quantity is required.</div>
                    <div *ngIf="quantity.errors.min">quantity should be 0 or higher.</div>
                  </div>
                </div>    
                <!-- <div class="form-group">
                  <label for="imageUrl2">Image URL for Bakend Cover Page </label>
                  <input #imageUrl2="ngModel" [(ngModel)]="product.imageUrl2" name="imageUrl2" id="imageUrl2" type="text" class="form-control" required url>
                  <div class="alert alert-danger" *ngIf="imageUrl2.touched && imageUrl2.invalid">
                    <div *ngIf="imageUrl2.errors.required">Image URL is required.</div>
                    <div *ngIf="imageUrl2.errors.url">Please enter a valid URL.</div>
                  </div>
                </div>   -->
      
                <div class="form-group">
                    <label for="condition">Condition</label>
                    <select #condition="ngModel" [(ngModel)]="product.condition" name="condition" id="condition" class="form-control" required>
                      <option value=""></option>
                      <option *ngFor="let c of condition$ | async" [value]="c.$key">
                        {{ c.name }}
                      </option>
                    </select>
                    <div class="alert alert-danger" *ngIf="condition.touched && condition.invalid">
                    Condition is required.
                    </div>
                  </div>  
                  <div class="form-group">
                    <label for="location">Location</label>
                    <select #location="ngModel" [(ngModel)]="product.location" name="location" id="location" class="form-control" required>
                      <option value=""></option>
                      <option *ngFor="let c of location$ | async" [value]="c.$key">
                        {{ c.name }}
                      </option>
                    </select>
                    <div class="alert alert-danger" *ngIf="location.touched && location.invalid">
                      location is required.
                    </div>
                  </div>          
                           
               
                <button class="btn btn-primary">Save</button>
               
              </form> 
        </div>
        <div *ngIf="willUpdate==1&&address.length==1">
            <form  *ngIf="address.length==1"  #f="ngForm" (ngSubmit)="updateAddress(addr)">
                <div><h4>Update Your Address</h4></div>
                  <div class="form-group" >
                    <label for="address">Address</label>
                    <input #address="ngModel" [(ngModel)]="addr.address" name="address" id="address" type="text" class="form-control" required>
                    <div class="alert alert-danger" *ngIf="address.touched && address.invalid">
                      Address is required.
                    </div>
                  </div>        
                  <div class="form-group">
                    <label for="mobile">Mobile</label>
                    <input #mobile="ngModel" [(ngModel)]="addr.mobile" name="mobile" id="mobile" type="text" class="form-control" required>
                    <div class="alert alert-danger" *ngIf="mobile.touched && mobile.invalid">
                      Mobile is required.
                    </div>
                  </div>    
          
                  <button class="btn btn-primary" *ngIf="f.valid">Update</button>
                 
            </form>
        </div>
        
          
    </div>
    <div class="col-md-6" >       
        <button *ngIf="address.length==1"  (click)="willUpdateAddress()" class="btn btn-primary">Edit Your Address</button> 
       
    </div>
  </div>

</div>
<app-footer></app-footer>

